<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./icon/favicon.ico">
    <link rel="shortcut icon" href="./icon/favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">

    <title>CarbonFootprint Finder</title>

  </head>
  <body>
    <noscript>
      console.log("You need to enable JavaScript to run this app").
    </noscript>
    <div id="root" style="height: 100%;background: #eee;"></div>

    <!-- React Bundled Script  -->

    <!-- Here routers are made with react so need to worry about node routing -->

    <script src="../../assets/js/bundle.js"></script>


    <script type="text/javacsript">
    console.log("You need to enable JavaScript to run this app")
    </script>

  </body>
</html>
