export const AUTH_CONFIG = {
  domain: '<Get from auth0>',
  clientId: '<Get from auht0>',
  callbackUrl: 'http://localhost:3080/callback',
  tokenEndpoint: "<Get from auht0>",
  apiEndpoint: "<Get from auht0>"
}