.header-div1 {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2980b9;
    box-shadow: 1px 1px 5px #bbb;
    padding: 15px 25px;
    color: #fff;
    font-size: 22px;
}
.header-menu-item {
    font-size: 15px;
    cursor: pointer;
}
.header-logo {
    color: white;
}
.header-user {
    font-size : 22px;
}
.header-img{
    border-radius: 50%;
    height: 20px;
    margin-right: 5px;
}
.icon.header-img-logo{
    margin-right: 10px;
}
.menu.header-dropdown-menu{
    right: 0;
    top: 120%;
    left: initial;
}