a, a:hover {
       text-decoration: none;
       color: inherit;
   }

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

select {
    float : right;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
.dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.names {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

/* Tooltip CSS */

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.details{
    color:white;
}

.chart .legend {
    fill: black;
    font: 14px sans-serif;
    text-anchor: start;
    font-size: 12px;
}

.chart text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;
}

.chart .label {
    fill: black;
    font: 14px sans-serif;
    text-anchor: end;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid brown;
    padding: 14px;
    text-align: center;
}